@use "global" as *;

.price-list {
  display: flex;
  flex-direction: column;
  @include mq("md") {
    display: flex;
    flex-direction: initial;
  }
}

.price-list__title {
  padding: rem(8) rem(30);
  width: 100%;
  background-color: #408f95;
  color: #fff;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  gap: rem(8);
  align-items: center;
  justify-content: center;
  @include mq("md") {
    flex-direction: column;
    padding: 0;
    width: 28.5%;
  }
}

.price-list__title::before {
  background-image: url(../../assets/images/common/giji_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: rem(24);
  width: rem(24);
  @include mq("md") {
    order: 1;
    height: rem(64);
    width: rem(64);
  }
}

.price-list__table {
  border: 1px solid $blue;
  border-collapse: collapse;
  width: 100%;
  font-weight: $regular;
  color: $black;
  font-size: rem(16);
  line-height: 1.5;
  height: 100%;
  @include mq("md") {
    width: 71.5%;
  }
}

.price-list__table,
.price-list__table tr,
.price-list__table td {
  box-sizing: border-box;
}

.price-list__sub-title {
  text-align: center;
  width: 69%;
  padding: rem(10) rem(15);
  border: 1px solid $blue;
  border-collapse: collapse;
  line-height: 1.3;
  @include mq("md") {
    text-align: initial;
    padding: rem(21) rem(13);
    line-height: 1;
    width: 68%;
  }
}

.price__price {
  text-align: end;
  padding: rem(21) rem(15);
  border: 1px solid $blue;
  border-collapse: collapse;
  font-weight: $regular;
  line-height: 1;
  @include mq("md") {
    padding: rem(21) rem(13);
    width: 32%;
  }
}
