@use "global" as *;

.sitemap {
  margin-top: rem(48);
  position: relative;
  @include mq("md") {
    margin-top: rem(147);
  }
}
.sitemap::before {
  position: absolute;
  content: "";
  width: rem(120);
  height: rem(55);
  left: rem(15);
  top: rem(-21);
  background: url(../../assets/images/common/decoration_3.png) center center /
    contain no-repeat;
  @include mq("md") {
    display: none;
  }
}

.sitemap__nav-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include mq("md") {
    grid-template-columns: repeat(4, 1fr);
  }
}


.sitemap__nav-item {
  color: $black;
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $regular;
  padding-left: rem(24);
}

.sitemap__nav-item:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.sitemap__nav-item:not(:first-child) {
  margin-top: rem(18);
  @include mq("md") {
    margin-top: rem(19);
  }
}
.sitemap__nav-item--main {
  font-weight: bold;
  padding-left: rem(22);
  display: flex;
  position: relative;
  @include mq("md") {
    padding-left: rem(22);
    text-wrap: nowrap;
  }
}
.sitemap__nav-item--main::before {
  position: absolute;
  content: "";
  width: rem(18);
  height: rem(18);
  left: 0;
  top: rem(2);
  background-size: contain;
  background: url(../../assets/images/common/starfish_black.png);
}
.sitemap__nav-item--main:not(:first-child) {
  margin-top: rem(36);
  line-height: 1.2;
  @include mq("md") {
    margin-top: rem(38);
  }
}

.sitemap__nav-items--first {
  order: 1;
}
.sitemap__nav-items--second {
  order: 3;
  margin-top: rem(13);
  @include mq("md") {
    margin-top: 0;
    order: 2;
    padding-left: rem(41);
  }
}
.sitemap__nav-items--third {
  order: 1;
  padding-left: rem(22);
  @include mq("md") {
    margin-top: 0;
    order: 3;
    padding-left: rem(64);
  }
}
.sitemap__nav-items--fourth {
  order: 4;
  margin-top: rem(14);
  padding-left: rem(22);
  @include mq("md") {
    padding-left: rem(87);
    margin-top: 0;
  }
}

.sitemap__contact {
  margin-top: rem(112);
  @include mq("md") {
    margin-top: rem(138);
  }
}

.sitemap__footer {
  margin-top: rem(104);
  @include mq("md") {
    margin-top: rem(162);
  }
}
