@use "global" as *;
.voice-card__container{
  margin-top: rem(49);
  @include mq("md") {
    margin-top: rem(28);
  }
}

.voice-card {
  position: relative;
  width: 100%;
  padding: rem(15) rem(16) rem(23);
  background-color: $white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;

  @include mq("md") {
    padding: rem(25) rem(24) rem(24);
  }
}

.voice-card:not(:first-child) {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: 0;
  }
}
.voice-card__img {
  overflow: hidden;
    z-index: 1;
    position: relative;
    object-fit: cover;
    height: auto;
    width: 53%;
    aspect-ratio: 151/117;
  @include mq("md") {
    aspect-ratio: 180/140;
    width: 38%;
  }
}
.voice-card__img .noimage {
  overflow: hidden;
  z-index: 1;
  position: relative;
  object-fit: contain;
  height: auto;
  width: 100%;
  transition: transform 0.8s;
}

.voice-card__img img {
    object-fit: cover;
    height: auto;
    width: 100%;
}


.voice-card__head {
  display: flex;
  align-items: flex-end;
  gap: rem(16);
  justify-content: space-between;
  @include mq("md") {
    align-items: flex-end;
    gap: rem(18);
  }
}

.voice-card__category-wrapper {
  @include mq("md") {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
.voice-card__category-wrap {
  display: inline-grid;
  gap: rem(3);
}
.voice-card__age {
  font-family: $base-font-family;
  font-size: rem(12);
  line-height: calc(18 / 12);
  font-weight: $regular;
  color: $black;
}

.voice-card__category {
  font-family: $base-font-family;
  font-size: rem(12);
  line-height: 1;
  font-weight: $regular;
  color: $blue;
  padding: rem(8) rem(8);
  border: 1px solid $blue;
  display: inline-block;
  min-width: rem(108);
  text-align: center;
  @include mq("md") {
    padding: rem(10) rem(15);
    min-width: rem(116);
  }
}

.voice-card__title {
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $medium;
  color: $black;
  border-bottom: 1px solid $blue;
  margin-top: rem(2);
  padding-bottom: rem(4);
  @include mq("md") {
    margin-top: rem(8);
    font-size: rem(24);
    padding-bottom: 0;
  }
}
.voice-card__title-container {
  width: 50%;
  @include mq("md") {
    width: 58%;
  }
}

.voice-card__text-info {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: rem(42);
  }
}
.voice-card__text-info p{
  font-family: $base-font-family;
  font-size: rem(16);
  line-height: 1.4;
  font-weight: $regular;
  color: $black;
}

.voice-card__text--sub {
  margin-top: rem(20);
  @include mq("md") {
    margin-top: rem(43);
  }
}
